!!!
%html
  %head
    %title Mock SAML Idp
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "/site.webmanifest", :rel => "manifest"}
    %link{:href => "data:,", :rel => "icon"}
    %link{:href => "/styles/main.css", :rel => "stylesheet"}
    %meta{name: 'public-url', content:  "#{Figaro.env.public_url}"}

  %body
    %content
      %main{:role => "main"}
        .container
          = yield
  %script{:src => "index.js"}
