<div class="container">
 <div class="main-content idp-info">
    <div class="row"> 
      <img src="https://assets.ossoapp.io/icons/LogoWhite.svg" />
      <h2>Osso IDP</h2>
    </div>
    <p>
      You can use this app as a stand-in Identity Provider to test your Osso integration.
    </p>
    <p>
      Use this <a href="https://assets.ossoapp.io/metadata/metadata.xml" download>SAML Metadata</a> to configure the Identity Provider as a Generic SAML IDP.
    </p>  
    <p>
      When confugred properly, a user will be sent to <code>/saml-login</code> with a valid SAML 
      request in the <code>SAMLRequest</code> query parameter.
    </p>
    <p>
      Browse the code for this app <a href="https://github.com/enterprise-oss/sinatra-ruby-idp" target+"_blank">on Github</a>.
    </p> 
  </div> 
</div>  
